# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [3]:
int_1 = 7
int_2 = 213

print(int_1)

7

##### Assinging float

In [5]:
Float_1 = 3.14
Float_2 = 3.99

print(Float_2)

3.99

#### Performing Calculations on ints and floats

##### Addition

In [7]:
Add = int_1 + int_2

print(Add)

220

##### Subtraction

In [9]:
Sub = int_2 - int_1
print(Sub)

206

##### Multiplication

In [11]:
Mul = int_1 * int_2
print(Mul)

1491

##### Division

In [13]:
Div = int_2 / int_1
print(Div)

30.428571428571427

##### Floor Division

In [14]:
Flo = int_2 // int_1
print(Flo)

30

##### Modulo

In [17]:
Mod = int_2 % int_1
print(Mod)

3

##### Exponential

In [19]:
Exp = int_2 ** 2
print(Exp)

45369

### String Input-Output

##### String Assignment

In [27]:
name = 'Charles'
print(name)

Charles

##### print() <br>
<p>Don't forget about end=' '</p>

In [28]:
print("this is my name", name)

this is my name Charles

##### String Concatenation

In [31]:
first_name = 'Charles'
last_name = 'Brammer'
full_name = first_name + ' ' +last_name
print(full_name)

Charles Brammer

##### Type Conversion

In [32]:
Number = '5'
Number2 = int(Number)
Number3 = Number2 + 5
print(Number3)

10

##### input()

In [38]:
name = input('What is your name?')
print('Nice to me you, ' + name)

What is your name?Charles
Nice to me you, Charles

##### format()

In [43]:
age = input('How old are you?')
result = "You are {} {}, and you are getting wiser with age.".format(age, name)
print(result)

How old are you?45
You are 45 Charles, and you are getting wise with age

##### Old Way (python 2)

In [44]:
age2 = 'you are %s and you look great for your age' %age
print(age2)

you are 45 and you look great for your age

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [1]:
color = input('What color is your car?')
year = input('What year is your car?')
model = input('What make and model is your car?')
results= f'You drive a {year} {model} that is {color}'
print(results)

You drive a 2018 kia rio that is  silver

### If Statements

In [ ]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

##### 'is' keyword

In [10]:
num1 = 4

if num1 is 4:
    print('true')

true

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\bramm\AppData\Local\Temp\ipykernel_2268\2839194833.py:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num1 is 4:

##### 'in' keyword

In [11]:
list_1 = [5, 4, 3, 2, 1, 0]

if 5 in list_1:
    print('yes')

yes

##### 'not in' keyword'

In [13]:
if 6 not in list_1:
    print('no')

no

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [3]:
name = input('what is your name?')
if 'p' in name:
    print('yes')

yes

## Using 'and'/'or' with If Statements

In [19]:
num1 = 10
num2 = 2
num3 = 4
if num1 / 5 == num2 and num3 / 2 == num2:
    print('true')

true

### Elif Statements

In [21]:
if num1 / 5 == num2 and num3 / 3 == num2:
    print('true')
elif num1 / 5 == num2 or num3 / 2 == num2:
        print('false')

false

### Else Statements

In [24]:
if num1 / 5 == num2 and num3 / 3 == num2:
    print('true')
elif num1 / 8 == num2 or num3 / 3 == num2:
        print('false')
else:
    print('wrong')

wrong

### For Loops

In [27]:
name = 'Charles Brammer'

for letter in name:
    print(letter)

C
h
a
r
l
e
s

B
r
a
m
m
e
r

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [28]:
for i in range(20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [32]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [34]:
name = 'Charles'

for i in name:
    pass

##### Double For Loops

In [37]:
for i in range(2):
    for j in range(2):
        print('i = ', i, 'j = ', j)

i =  0 j =  0
i =  0 j =  1
i =  1 j =  0
i =  1 j =  1

### While Loops

In [42]:
num = 0

while num < 10:
    print(num)
    num = num + 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [67]:
game_over = True

while game_over:
    print('loops')
    user_input = input('Would you like me to stop?')
    if user_input == 'Yes':
        game_over = False

loops
Would you like me to stop?no
loops
Would you like me to stop?no
loops
Would you like me to stop?yes
loops
Would you like me to stop?Yes

##### While & For Loops Used Together

In [75]:
num = 0 

while num < 5:
    print('\n while loop iteration: ' + str(num))
    
    for i in range(2):
        print('for loop iteration: ' +str(i))

    num += 1

 while loop iteration: 0
for loop iteration: 0
for loop iteration: 1

 while loop iteration: 1
for loop iteration: 0
for loop iteration: 1

 while loop iteration: 2
for loop iteration: 0
for loop iteration: 1

 while loop iteration: 3
for loop iteration: 0
for loop iteration: 1

 while loop iteration: 4
for loop iteration: 0
for loop iteration: 1

### Built-In Functions

##### range()

In [77]:
for i in range(20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### len()

In [79]:
name = "Greg"
length = len(name)
print(length)

4

##### help()

In [80]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [82]:
print(isinstance(7, str))

False

##### abs()

In [83]:
print(abs(-5))

5

### Try and Except

In [87]:
try:
    num = 0
    input_num = int(input("guess a number"))
    if input_num != num:
        print('try again')
except:
    print('error')

guess a numberoof
error

### Lists

##### Declaring Lists

In [89]:
list_1 = ()

names_1 = ('greg', 'susan', 'doug', 'mark', 'alan')
print(names)

('greg', 'susan', 'doug', 'mark', 'alan')

##### Indexing a List

In [91]:
print(names[1])

susan

##### .append()

In [122]:
names = ('greg', 'susan', 'doug', 'mark', 'alan')
names_1 = list(names)
names_1.append('john')
print(names_1)

['greg', 'susan', 'doug', 'mark', 'alan', 'john']

##### .insert()

In [111]:
names_1.insert(3,"joseph")
print(names_1)

['greg', 'susan', 'doug', 'joseph', 'mark', 'alan', 'john']

##### .pop()

In [112]:
my_name = names_1.pop(3)
print(my_name)

joseph


##### .remove()

In [115]:
names_1.remove('mark')
print(names_1)

ValueError: list.remove(x): x not in list

##### del()

In [121]:
del(names_1[1])
print(names_1)

['greg']

##### Concatenating Two Lists

In [127]:
list_1 = [0,2,4]
list_2 = [1,3,5]
list_3 = list_1 + list_2
print(list_3)

[0, 2, 4, 1, 3, 5]

##### Lists Within Lists

In [128]:
names = ('greg', 'susan', 'doug', 'mark', 'alan',['john','devin','jeremy'])
names_1 = list(names)
print(names_1)

['greg', 'susan', 'doug', 'mark', 'alan', ['john', 'devin', 'jeremy']]

##### Looping Through Lists

In [131]:
for i in names_1:
    print(i)

greg
susan
doug
mark
alan
['john', 'devin', 'jeremy']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [4]:
number = 1

while number ** 3 <= 1000:
    cube = number ** 3
    print(f"The cube of {number} is {cube}")
    number += 1

The cube of 1 is 1
The cube of 2 is 8
The cube of 3 is 27
The cube of 4 is 64
The cube of 5 is 125
The cube of 6 is 216
The cube of 7 is 343
The cube of 8 is 512
The cube of 9 is 729
The cube of 10 is 1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [119]:
def prime(num):
    if num < 2:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

for p in range(2, 101):
    if prime(p):
        print(p

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [7]:
age = int(input('How old are you?'))

if age <18:
    print('kids')
elif age > 65:
    print('seniors')
else:
    print('adults')

seniors